<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo conta:</strong>
  <%= @accounttype.tipo_conta %>
</p>

<%= link_to 'Edit', edit_accounttype_path(@accounttype) %> |
<%= link_to 'Back', accounttypes_path %>
