<h1>Nome dos Autores do Livro: <%= @book.nome_livro%> </h1>



<div>

<% @authors.each do |author| %>
<tr>
        <td><%= author.nome %></td>
</tr>
<% end %>
</div>

<div>
<h2>Quantidade total de páginas lidas: <%= @total_leituras %></h2>
</div>

<br>
