<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo receita:</strong>
  <%= @expensetype.tipo_receita %>
</p>

<%= link_to 'Editar', edit_expensetype_path(@expensetype) %> |
<%= link_to 'Voltar', expensetypes_path %>
